
.tooltip{
  cursor: pointer;
  position: relative;
  &__content{
    color:var(--background);
    pointer-events: none;
    opacity: 0;
    display: none;
  }
  &__container{
    position: absolute;
    top:0;
    left:0;
    border-radius: 4px;
    display: inline-block;
    background: var(--standart);
    transform: translate(16px,-60px);
    padding: 3px 16px;
    z-index: 100;
  }
  &__target{
    pointer-events: none;
  }
}
@keyframes enter {
  0%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes exit {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none !important;
  }
}